<%- include ('partials/header') %>
<%- include ('partials/theme') %> 
<br><br><br><br><br>
<center>
<h3>Search results</h3>
</center>
<style>
    .ochesa{
        border: 2px solid black;
        border-radius: 4px;
        margin: 20px;
        padding: 15px;
    }
</style>
<ul>
    <% top.forEach(function(device){  %> 
        <ul class="ochesa"><b><%= device.name %> </b>
            <a href="/colleges/<%= device._id%>">click here to know more</a>
            <ul>
                <% Object.keys(device).forEach(function(key){ %>
                    <li><strong><%= key %></strong>: <%= device[key] %> </li>
                <%  });%>  
            </ul>
        </ul>
    <% }); %> 
</ul>
<br><br><br><br><br>
<%- include ('partials/footer') %>