<%- include ('partials/header') %>
<%- include ('partials/theme') %> 
<br><br><br><br><br>
<div class="bomma">
    <img class="ims" src="/images/clgicon.png" alt="IMAGE">
    <h1 class="naperu"><%= data.name %></h1>
    <svg class="sym" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
        <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
      </svg>
    <div class="noclass">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
        </svg>
        <h6><%= data.city %> </h6>
    </div>
</div>
<div class="tttt">
    <h4 style="color: brown;">Information</h4>
    <p><%= data.name %> is a College/ University located in <%= data.city %> and
    This institute is one of the best institutes located on this city <%= data.city %></p>
</div>
<div class="tttt">
    <h4 style="color: brown;">Courses Offered</h4>
    <ol>
        <% for(var i=0; i < data.courses.length; i++) { %>
            <li><%= data.courses[i] %></li>
        <% } %>
    </ol>
</div>
<div class="webs">
    <h4 style="color: brown;">Official Website</h4>
    <div class="pamu">
    <p>Link : &nbsp;</p>

    <a style="color: black;" href="<%= data.website %> "><b>&nbsp;Click Here</b></a>
    </div>
</div>
<br><br><br><br><br>
<%- include ('partials/footer') %>